<<!--<p style="color: green"><%#= notice %></p>-->

<!--<h1>Foods</h1>-->

<!--<div id="foods">-->
  <%# @foods.each do |food| %>
    <%#= render food %>
<!--    <p>-->
      <%#= link_to "Show this food", food %>
<!--    </p>-->
  <%# end %>
<!--</div>-->

<%#= link_to "New food", new_food_path %>
<h1 class = "text-center">Listing all foods</h1>


  <%= render 'food' %>
