<!--<h1>New food</h1>-->

<%#= render "form", food: @food %>

<!--<br>-->

<!--<div>-->
  <%#= link_to "Back to foods", foods_path %>
<!--</div>-->

<div class="container mt-4">
  <h1 class ="text-center">Create a new menu</h1>
  <%= render 'form' %>
</div>