<footer class = "bg-dark text-light py-3 sticky-bottom" style="flex-shrink: unset;
margin-top: 3rem;">
  <div class="container text-center">
    <small>Created with <i class="bi bi-heart-fill text-danger"></i> by <%= link_to "Muhammad Ikhwan Khaleed", "https://www.instagram.com/ikhwankhaleed/",class: "text-success text-decoration-none" %></small>
  </div>
</footer>